.breadcrumbs
{
  @mixin breadcrumbList
  {
    display: flex;
    min-height: 4rem;
    flex-direction: row;

    list-style: none;
  }

  display: flex;
  width: 100%;

  grid-row: 1 / span 1;
  grid-column: 2 / span 1;

  align-items: center;

  &__items,
  & .breadcrumb
  {
    @include breadcrumbList;
  }

  &__link
  {
    position: relative;
    margin-right: 2rem;
  }

  &__item:not(:last-child) &__link::after
  {
    position: absolute;
    content: '\203A';
    top: 50%;
    right: -1rem;

    transform: translate(0, -50%);
  }

  &__item,
  & .breadcrumb li
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 1130px)
  {
    &__item,
    & .breadcrumb li
    {
      &:not(:nth-last-child(-n+2))
      {
        display: none;
      }
    }
  }
}
